<h1 class="bridalTitle">Matron of Honor</h1>
<img class="bridalPics" src="./../assets/images/singleAn.jpg">
<h2 class="bridalSubTitle">Thuy An Lu</h2>
<h1 class="bridalTitle">Maid of Honor</h1>
<img class="bridalPics" src="./../assets/images/singleKarissa.jpg">
<h2 class="bridalSubTitle">Karissa Nguyen</h2>
<h1 class="bridalTitle">Bridesmaid</h1>
<img class="bridalPics" src="./../assets/images/singleJess.jpg">
<h2 class="bridalSubTitle">Jessica Wu</h2>
<h1 class="bridalTitle">Bridesmaid</h1>
<img class="bridalPics" src="./../assets/images/singleSue.jpg">
<h2 class="bridalSubTitle">Sue Rivilia</h2>
<a id="backButton" href="#/bridalParty">Back</a>