<h1 id="churchTitle">San Gabriel Mission</h1>
<img id="church"src="./../assets/images/church1.jpg">
<h2 id="churchSubtitle">2:00 PM</h2>
<h2 id="churchSubtitle">428 South Mission Drive</h2>
<h2 id="churchSubtitle">San Gabriel, CA 91776</h2>
<h1 id="churchTitle">Directions from Ceremony to Reception</h1>
<img id="map" src="./../assets/images/map.PNG">
<h2 id="churchSubtitle">Head South on S. Mission Dr. toward S. Ramona St.</h2>
<h2 id="churchSubtitle">Continue onto S. Ramona St.</h2>
<h2 id="churchSubtitle">Merge onto N. New Ave. </h2>
<h2 id="churchSubtitle">Turn right to merge onto I-10 W</h2>
<h2 id="churchSubtitle">Mere onto I-5 S</h2>
<h2 id="churchSubtitle">Merge onto I-605 S</h2>
<h2 id="churchSubtitle">Merge onto I-405 S</h2>
<h2 id="churchSubtitle">Merge onto CA-22 E</h2>
<h2 id="churchSubtitle">Take exit 10 for Brookhurst St.</h2>
<h2 id="churchSubtitle">Turn right onto Brookhurst St.</h2>
<h2 id="churchSubtitle">Use the right 2 lanes to turn right onto Bolsa</h2>

