<p id="contactTitle">If you have any questions or comments, please reach out to: </p>
<p id="contactSubTitle1">Thuy Nguyen</p>
<p id="contactSubTitle2">(626) 627-2330</p>
<p id="contactSubTitle2">bruce .thuy@gmail.com</p>

<p id="contactSubTitle1">Bruce Ngo</p>
<p id="contactSubTitle2">(626) 216-8172</p>
<p id="contactSubTitle2">bruce .thuy@gmail.com</p>

<!-- Email form to send email -->
<!-- <form id="contactForm">
	<label id="formTitles">Full Name:</label>
	<input id="formInputs" type="text" ng-model="question.name" size="40">
	<label id="formTitles">Your Email Address: </label>
	<input  id="formInputs" type="email" ng-model="question.email" size="40">
	<label id="formTitles">Message to the Bride and Groom: </label>
	<textarea  id="formInputs" ng-model="question.comment" rows="4" cols="40"></textarea>
	<input id="formSubmitButton" type="submit" value="Send My Message" ng-click="contactEmail()">
</form> -->

<!-- RSVP form to RSVP -->
<!-- <form>
	<input type="text" ng-model="rsvp.name" placeholder="full name">
	<input type="text" ng-model="rsvp.numberAttending" placeholder="number attending">
	<input type="text" ng-model="rsvp.guest1" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest2" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest3" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest4" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest5" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest6" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest7" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest8" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest9" placeholder="name of guest attending">
	<input type="text" ng-model="rsvp.guest10" placeholder="name of guest attending">
	<input type="submit" ng-click="rsvpForm()">
</form> -->