<h1 class="bridalTitle">Best Man</h1>
<img class="bridalPics" src="./../assets/images/singleMichael.png">
<h2 class="bridalSubTitle">Michael Hang</h2>
<h1 class="bridalTitle">Groomsman</h1>
<img class="bridalPics" src="./../assets/images/singlePeter.jpg">
<h2 class="bridalSubTitle">Peter Hang</h2>
<h1 class="bridalTitle">Groomsman</h1>
<img class="bridalPics" src="./../assets/images/singlePaul.jpg">
<h2 class="bridalSubTitle">Paul Ngo</h2>
<h1 class="bridalTitle">Groomsman</h1>
<img class="bridalPics" src="./../assets/images/singleGiff.jpg">
<h2 class="bridalSubTitle">Giff Piampanichwat</h2>
<a id="backButton" href="#/bridalParty">Back</a>